@charset "utf-8";

/*###############전체선택자 속성값###############*/
*{
    margin: 0; padding: 0; box-sizing: border-box;
 }
 
 a:link, a:visited{
    text-decoration: none; color: black;
 }
 
 li{
    list-style: none;
 }
 /*###############클래스 공통 속성값###############*/
 .Flex{
    display: flex;
 }
 .Flex_aic{
    display: flex;
    align-items: center;
 }
 .Flex_cc{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .FC_basicgray{
    color: #65666E;
 }
 .Pointer{
    cursor: pointer;
 }
 
 /*###############탑 로고###############*/
 .logo{
    width: 100%;
    min-width: 1270px;
    height: 62px;
    justify-content: space-between;
    padding: 23px 30px 23px 21px;
    background-color: white;
 }
 
 .logo .left{
    width: 65px;
    height: 62px;
    justify-content: space-between;
    line-height: 62px;
 }
 
 .logo .left:hover>.hamburger:before ,.logo .left:hover>.hamburger:after, .logo .left:hover>.hamburger div{background-color: #0077ff;}
 .logo .left:hover>.menu ,.right div:nth-child(3):hover{color: #0077ff;}
 
 .logo .hamburger{position: relative; width: 16px; height: 16px;}
 .hamburger:before, .hamburger div, .hamburger:after{
    position: absolute;
    height: 2.3px;
    width: 100%;
    left: 0;
    background-color: black;
    content: "";
    display: block;
    transition: 0.3s;
 }
 .hamburger:before{top: 0;} .hamburger div{top: 50%; transform: translateY(-50%);} .hamburger:after{bottom: 0;}
 
 .logo .menu{
    color: #17191d;
    font-weight: bold;
    padding-right: 6px;
    transition: 0.3s;
 }
 
 .logo .center{
    padding-left: 245px;
    padding-top: 5px;
 }
 
 .logo .cardimg, .logo .pcroomimg{
    position: relative;
    width: 33px;
 }
 .logo .cardimg:after, .logo .pcroomimg:after{
    display: block;
    height: 15px;
    line-height: 15px;
    background-color:black;
    color: white;
    position: absolute;
    font-size: 11px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -14px;
    text-align: center;
    border-radius: 100px;
    border: 1px solid black;
    opacity: 0;
    transition: 0.3s;
 }
 .logo .cardimg:after{
    content: "넥슨현대카드";
    width: 80px;
 }
 .logo .pcroomimg:after{
    content: "PC방";
    width: 40px;
 }
 .logo .cardimg:hover:after, .logo .pcroomimg:hover:after{
    opacity: 1;
 }
 
 
 .right div{
    margin-right: 10px;
 }
 .right div:nth-child(3){
    font-size: 14px;
    font-weight: bold;
    color: #17191D;
    height: 36px;
    line-height: 36px;
    text-align: center;
 }
 .right div:last-child{
    margin-right: 0;
    font-size: 15px;
    font-weight: bold;
    color: #080410;
    border-radius: 19px;
    border: 2px solid #17191D;
    width: 80px;
    height: 36px;
    line-height: 30px;
    text-align: center;
 }
 
 .right div:last-child:hover{
    border: 2px solid #0077ff;
    background-color: #0077ff;
    color: white;
 }

body{
   background-color: #F8F9FA;
}
 /*-------------메인이미지라인----------*/

.mainimg{
   position: relative;
   width: 100%;
   min-width: 1270px;
   height: 550px;
   }


   .a1{
      width: 100%;
      height: 100%;
      background: url('https://rs.nxfs.nexon.com/bannerusr/23/2/HmgD15201413570.jpg') no-repeat;
      background-size: cover;
   }
   .a2{
      background-image: url('https://rs.nxfs.nexon.com/bannerusr/23/2/cDpi15201414389.png');
      width: 550px;
      height: 200px;
      position: absolute;
      top:220px;
      left: 320px;
      background-position: 0 -140px;
      background-size: cover;
   }
   .mainimg .a2{
      animation: left_img 0.5s 1;
   }

   @keyframes left_img {
      0%{
         left: 0px;
      }
      100%{
         left: 320px;
      }
   }
   .a3{
      position: absolute;
      width: 610px;
      height: 360px;      
      left: 978px;
      top: 55px;
      cursor: pointer;
      border: 1px solid rgba(116, 115, 115, 0.979);
      opacity: 0.9;
   }
   .a3 img{
      width: 100%;
      height: 100%;
   }

   .mainimg .a4,.mainimg .a5,.mainimg .a6,.mainimg .a7{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
   }
   .mainimg .a4{
      background-image: url('https://rs.nxfs.nexon.com/bannerusr/23/2/R7uO17140846292.jpg');
   }
   .mainimg .a5{
      background-image: url('https://rs.nxfs.nexon.com/bannerusr/23/2/VJLC15173524411.png');
   }
   .mainimg .a6{
      background-image: url('https://rs.nxfs.nexon.com/bannerusr/23/2/0h5f20100654275.png');
   }
   .mainimg .a7{
      background-image: url('https://rs.nxfs.nexon.com/bannerusr/23/2/wG8x22172128030.png');
   }
   .mainimg .a4{
      animation: gage_img 5s 1;
      animation-delay: 5s;
   }
   .mainimg .a5{
      animation: gage_img 5s 1;
      animation-delay: 10s;
   }
   .mainimg .a6{
      animation: gage_img 5s 1;
      animation-delay: 15s;
   }
   .mainimg .a7{
      animation: gage_img 5s 1;
      animation-delay: 20s;
   }

   @keyframes gage_img {
      0%{
         z-index: 2;
      }
      100%{
         z-index: 98;
      }
   }


   .mainimg .gagebox{
      position: absolute;
      z-index: 11111;
      bottom: 0;
      left: 310px;
   }

   .gagebox div{
      width: 255px;
      margin-right: 1px;
      opacity: 0.9;
      color: #ffffff;
      height: 80px;
      padding: 15px 0 0 15px;
   }
   .gagebox1,.gagebox2,.gagebox3,.gagebox4,.gagebox5{
      position: relative;
      cursor: pointer;
   }
   .gagebox .gagebox1:before,.gagebox .gagebox2:before,.gagebox .gagebox3:before,.gagebox .gagebox4:before,.gagebox5:before{
      position: absolute;
      background-color: white;
      width: 255px;
      height: 80px;
      left: 0;
      top: 0;
      content: "";
      display: block;
      opacity: 0.1;
      margin-right: 1px;
   }
   .gagebox .gagebox1:after,.gagebox .gagebox2:after,.gagebox .gagebox3:after,.gagebox .gagebox4:after,.gagebox .gagebox5:after{
      position: absolute;
      background-color: #0077ff;
      width:0;
      height: 80px;
      left: 0;
      top: 0;
      content: "";
      display: block;
      opacity: 0.9;
      margin-right: 1px;
      transition: 0.01s;
   }
   .gagebox .gagebox1:hover:after,.gagebox .gagebox2:hover:after,.gagebox .gagebox3:hover:after,.gagebox .gagebox4:hover:after,.gagebox .gagebox5:hover:after{
      background-color: #dbdbdb42;
      width: 100%;
   }
   .gagebox1:after{
      animation: gage_ani 5s 1;
   }
   .gagebox2:after{
      animation: gage_ani 5s 1;
      animation-delay: 5s;
   }
   .gagebox3:after{
      animation: gage_ani 5s 1;
      animation-delay: 10s;
   }
   .gagebox4:after{
      animation: gage_ani 5s 1;
      animation-delay: 15s;
   }
   .gagebox5:after{
      animation: gage_ani 5s 1;
      animation-delay: 20s;
   }
   @keyframes gage_ani {
      0%{
         width: 0;
         background-color: #0077ff;
      }
      100%{
         width: 100%;
      }
   }

   .gagebox div p:first-child{
      margin-bottom: 5px;
      font-size: 13px;
      position: relative;
      z-index: 99;
      color: #dee0e4ce;
      font-weight: bold;
   }
   .gagebox div p:nth-child(2){
      font-size: 18px;
      font-weight: bold;
      position: relative;
      z-index: 99;
   }



 

 .mainlistbox{
   width: 1328px;
   padding: 0 24px;
   height: 200px;
   margin: 0 auto;
   margin-top: 100px;
   height: 100%;
   margin-bottom: 250px;
   min-width: 1270px;
 }

 .mainlistbox .mainhead1{
   color: #17191d;
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
 }

 .newupdateline{
   margin-bottom: 10px;
   justify-content: space-between;
 }
 .newupdateline .left2{
   color: #00cec6;
   font-weight: 700;
   font-size: 16px;
 }

 .newupdateline .leftarrow,  .newupdateline .rightarrow{
   padding: 2px;
   border: 1px solid #9fa1a7;
   width: 28px;
   height: 28px;
 }
 
 .newupdateline .leftarrow{
   background-image: url('https://rs.nxfs.nexon.com/home/images/main/set_recommend.svg');
   border-right: none;
   background-position: -49px 1px;
   opacity: 0.4;
 }
 .newupdateline .rightarrow{
   background-image: url('https://rs.nxfs.nexon.com/home/images/main/set_recommend.svg');
   background-position: -49px -49px;
 }

 .newupdateline .right2 div{
   width: 60px;
   font-size: 13px;
   text-align: right;
   margin-left: 23px;
   color: #17191d;
   transition: 0.3s;
 }
 .newupdateline .right2 div:hover{
   color: #0077ff;
 }
/*-------------------------게임,로그인---*/

.game_loginbox{
   margin-bottom: 60px;
}

 .game_loginbox .gamebox li{
   width: 153px;
   height: 342px;
   margin-right: 15px;
   background-color: white;
   transition: 0.3s;
   cursor: pointer;
 }

 .gamebox .imgbox{
   height: 192px;
   width: 100%;
   margin-bottom: 10px;
   overflow: hidden;
 }

 .game_loginbox .imgbox img{
   height: 100%;
   width: 100%;
   transition: 0.3s;
 }
 .pick:hover> .imgbox> img,.suggest:hover> .imgbox> img{
   scale: 1.1;
 }
 .pick:hover, .suggest:hover{
   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.116);
 }
 .gamebox .pick{
   border-bottom: 2px solid #f78029;
 }
 .gamebox .pick .bottomimg{
   font-size: 12px;
   font-weight: bold;
   background-color: #fef3e0;
   color: #f78029;
   border-radius: 5px;
   padding: 2px 3px;
   width: 123px;
 }

 .gamebox .wordbox{
   margin-left: 12px;
 }
 .gamebox .littlepick{
      display: inline-block;
      background-color: #f78029;
      font-size: 10px;
      color: white;
      font-weight: bold;
      height: 16px;
      width: 32px;
      line-height: 16px;
      text-align: center;
      border-radius: 100px;
      margin-bottom: 5px;
 }
 .gamebox .littlesuggest{
   background-color: #00dbd3;
   width: 32px;
   height: 16px;
   line-height: 16px;
   text-align: center;
   border-radius: 100px;
   margin-bottom: 5px;
   font-size: 10px;
   font-weight: bold;
   color: #ffffff;
 }
 .gamebox .wordbox .word{
   font-size: 14px;
   color: #17191d;
   font-weight: bold;
   margin-bottom: 65px;
 }

 .loginbox{
   padding: 70px 48px;
   width: 438px;
   height: 342px;
   background-color: white;
 }

 .loginbox .toptoplogin{
   background-color: #17191d;
   height: 60px;
   line-height: 60px;
   width: 342px;
   text-align: center;
   color: white;
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 10px;
   transition: 0.3s;
 }
 .toptoplogin:hover{
   background-color: #0077ff;
 }

 .loginbox .toplogin div{
   height: 52px;
   line-height: 52px;
   text-align: center;
   width: 170px;
   background-color: #4a4e57;
   color: white;
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 20px;
   transition: 0.3s;
 }
 .toplogin div:hover{
   background-color: #0077ff;
 }

 .loginbox .toplogin div:first-child{
   margin-right: 2px;
 }

 .midlogin{
   width: 342px;
   height: 42px;
   background-color: #f8f9fa;
   color: #9fa1a7;
   line-height: 42px;
   text-align: center;
   font-size: 12px;
   margin-bottom: 10px;
 }

 .midlogin div:first-child{
   margin-left: 42px;
   margin-right: 18px;
 }

 .midlogin .google,  .midlogin .facebook,  .midlogin .naver, .midlogin .apple  {
   background-image: url('https://rs.nxfs.nexon.com/home/images/main/set_login.png');
   width: 22px;
   height: 22px;
   margin-right: 10px;
 }
 .midlogin .google{background-position: 0 200px;}
 .midlogin .facebook{background-position: 0 150px;}
 .midlogin .naver{background-position: 0 100px;}
 .midlogin .apple{background-position: 0 50px;}

 .loginbox .bottomlogin{
   color: #737881;
   font-size: 12px;
 }
 .loginbox .bottomlogin div:hover{
   color:#0077ff;
 }

 .loginbox .bottomlogin div:first-child{margin-right: 16px;}
 .loginbox .bottomlogin div:nth-child(2){margin-right: 137px;}


 .newgame{
   margin-top: 40px;
 }

 .newgame .newgamelist{
   width: 302px;
   height: 144px;
   margin-right: 20px;
   position: relative;
   padding-left: 20px;
   background-color: white;
   margin-bottom: 120px;
   border-top: 2px solid #07f;
   transition: 0.3s;
 }
 .newgame .newgamelist:hover{
   background-image: linear-gradient(158deg,#07f 50%,rgba(0,219,211,.83));
 }
 .newgamelist:hover>.new2, .newgamelist:hover>.imgmenu>div:last-child,.newgamelist:hover>.new3{
   color: white;
 }
 .newgamelist:hover>.new1{
   color: #0077ff;
   background-color: white;
 }

 .newgame .new1{
   padding: 1px 5px;
   background-color: #0077ff;
   color: #ffffff;
   font-size: 10px;
   height: 16px;
   line-height: 12px;
   border: 1px solid #07f;
   border-radius: 8px;
   display: inline-block;
   margin-bottom: 7px;
   margin-top: 23px;
   transition: 0.3s;
 }
 .newgame .new2{
   font-size: 16px;
   color: #17191d;
   font-weight: 700;
   margin-bottom: 7px;
   transition: 0.3s;
 }

.backimg{
   background-image: url('https://rs.nxfs.nexon.com/home/images/main/set_device_s_new.svg');
   width: 16px;
   height: 16px;
   margin-right: 3px;
}
.backimg:nth-child(1){
   margin-right: 7px;
   position: relative;
}
.backimg:nth-child(2){
  background-position: 0 100px;

}
.backimg:nth-child(3){
   background-position: 0 50px;
 }
.backimg .line{
   position: absolute;
   right: -4px;
   top: 50%;
   transform: translateY(-50%);
   width: 1px;
   height: 8px;
   background-color: #dddcdc;
}

.backimg1{
   background-image: url('https://rs.nxfs.nexon.com/home/images/main/set_device_s_new.svg');
   width: 16px;
   height: 16px;
   margin-right: 3px;
}


.imgmenu div:last-child{
   color: #9fa1a7;
   font-size: 12px;
   font-weight: 400;
}

.newgame .new3{
   margin-top: 30px;
   color: #737881;
   font-size: 12px;
   transition: 0.3s;
}
.newgame .new3 span{
   font-weight: bold;
}


 .newgame .newimg{
   position: absolute;
   width: 140px;
   height: 180px;
   bottom: 0;
   right: 0;
 }

 .mainhead3{
   justify-content: space-between;
   margin-bottom: 25px;
 }


 .whitebox{
   width: 1280px;
   height: 99px;
   background-color: white;
   padding: 20px 20px 3px 30px;
   margin-bottom: 40px;
 }

 .whitebox span{
   margin-right: 25px;
   color: #9fa1a7;
   border: 1px solid white;
   background-color: #fff;
   font-size: 13px;
 }
 .whitebox span:first-child{
   color: #fff;
   background-color: #17191d;
   border: 1px solid #17191D;
   border-radius: 12px;
   padding: 1px 10px;
 }
 .whitebox p{
   color: #9fa1a7;
   border: 1px solid white;
   background-color: #fff;
   font-size: 13px;
   margin-top: 20px;
 }


.lastbox{
   width: 1280px;
}

.imgbox33{
   width: 302px;
   height: 320px;
   margin-right: 25px;
   margin-bottom: 60px;
   background-color: white;
}
.imgbox33:last-child{
   margin-right: 0;
}
.btimgbox{
   width: 302px;
   height: 200px;
   overflow: hidden;
}
.btimgbox img{
   width: 100%;
   height: 100%;
}
.imgbox33{
   flex-direction: column;
}

.btwordbox{
   padding: 20px 15px 0 20px;
}

.lastbox .b1{
   justify-content: space-between;
}

.lastbox .btword{
   color: #17191d;
   font-size: 16px;
   font-weight: bold;
}
.lastbox .b2{
   margin-top: 8px;
   color: #737881;
   font-size: 12px;
   margin-bottom: 17px;
}
.lastbox .b2 span{
   font-weight: bold;
   color: #07f;
}

.lastbox .b3{
   justify-content: flex-end;
}

.imgbox33{
   cursor: pointer;
}

.lastbox .b3 div{
   width: 24px;
   height: 24px;
}
.lastbox .b1 .c0{
   width: 20px;
   height: 20px;
}
.lastbox .b1 .c0{
   background-image: url('https://rs.nxfs.nexon.com/home/images/main/set_community.svg');
   background-position: 0 -50px;


}
.lastbox .b3 .c3{
   background-image: url('https://rs.nxfs.nexon.com/home/images/main/set_device_new.svg');
}





















.footer{
   background-color: #222426;
   width: 100%;
   height: 300px;
}